<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

</head>

<body>
<section class="container">

    <p></p>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <br><br><br><br>


    <p>Button toolbar</p>
    <div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
        <div class="btn-group" aria-label="First group" role="group">
            <button class="btn btn-default" type="button">1</button>
            <button class="btn btn-default" type="button">2</button>
            <button class="btn btn-default" type="button">3</button>
            <button class="btn btn-default" type="button">4</button>
        </div>
        <div class="btn-group" aria-label="Second group" role="group">
            <button class="btn btn-default" type="button">5</button>
            <button class="btn btn-default" type="button">6</button>
            <button class="btn btn-default" type="button">7</button>
        </div>
        <div class="btn-group" aria-label="Third group" role="group">
            <button class="btn btn-default" type="button">8</button>
        </div>
    </div>
    <br><br>


    <p>Sizing</p>
    <div class="btn-group btn-group-lg" aria-label="Large button group" role="group">
        <button class="btn btn-default" type="button">Left</button>
        <button class="btn btn-default" type="button">Middle</button>
        <button class="btn btn-default" type="button">Right</button>
    </div>
    <br>
    <div class="btn-group" aria-label="Default button group" role="group">
        <button class="btn btn-default" type="button">Left</button>
        <button class="btn btn-default" type="button">Middle</button>
        <button class="btn btn-default" type="button">Right</button>
    </div>
    <br>
    <div class="btn-group btn-group-sm" aria-label="Small button group" role="group">
        <button class="btn btn-default" type="button">Left</button>
        <button class="btn btn-default" type="button">Middle</button>
        <button class="btn btn-default" type="button">Right</button>
    </div>
    <br>
    <div class="btn-group btn-group-xs" aria-label="Extra-small button group" role="group">
        <button class="btn btn-default" type="button">Left</button>
        <button class="btn btn-default" type="button">Middle</button>
        <button class="btn btn-default" type="button">Right</button>
    </div>
    <br><br>




    <p>Nesting</p>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>
    </div>
    <br><br>




    <p>Vertical variation</p>
    <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
        <button class="btn btn-default" type="button">Button</button>
        <button class="btn btn-default" type="button">Button</button>
        <div class="btn-group" role="group">
            <button id="btnGroupVerticalDrop1" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" role="menu">
                <li>
                    <a href="#">Dropdown link</a>
                </li>
                <li>
                    <a href="#">Dropdown link</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-default" type="button">Button</button>
        <button class="btn btn-default" type="button">Button</button>
        <div class="btn-group" role="group">
            <button id="btnGroupVerticalDrop2" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2" role="menu">
                <li>
                    <a href="#">Dropdown link</a>
                </li>
                <li>
                    <a href="#">Dropdown link</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button id="btnGroupVerticalDrop3" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3" role="menu">
                <li>
                    <a href="#">Dropdown link</a>
                </li>
                <li>
                    <a href="#">Dropdown link</a>
                </li>
            </ul>
        </div>
    <br><br>



    <p>Justified button groups</p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left Button</button>
        <button type="button" class="btn btn-default">Middle Button</button>
        <button type="button" class="btn btn-default">Right Button</button>
    </div>
    <br><br>


    <p>Justified button groups With elements</p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Middle</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
    <br><br>


    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" ></script>
</section>
</body>
</html>