<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
<section class="container">

    <p>Basic example</p>
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
    <br><br>


    <p>Panel with heading</p>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <br><br>


    <p>Panel with footer</p>
    <div class="panel panel-default">
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
    <br><br>


    <p>Contextual alternatives</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <br><br>


    <p>With tables</p>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Full Name</th>
                <th>Full Name</th>
                <th>Full Name</th>
                <th>Full Name</th>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
        </table>
    </div>
    <br><br>

    <p>Without Panel Body</p>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <!-- Table -->
        <table class="table">
            <tr>
                <th>Full Name</th>
                <th>Full Name</th>
                <th>Full Name</th>
                <th>Full Name</th>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
            <tr>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
                <td>Shahlal Hossain</td>
            </tr>
        </table>
    </div>
    <br><br>


    <p>With list groups</p>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" ></script>
</section>
</body>
</html>